mixin chatMenuItem(item)
    a(data-path= '/'+item.path).chat-menu-item.no_decoration
        .chat-menu-item__avatar-wrapper.bg_bright
            img(src=item.avatar).chat-menu-item__avatar
        .chat-menu-item__message-wrapper
            .chat-menu-item__title-wrapper
                .chat-menu-item__title.text_main= item.title
                .chat-menu-item__data.text_second= item.lastMessage.content
            .chat-menu-item__content-wrapper
                .chat-menu-item__message
                    if item.lastMessage
                        span.text_main= 'Вы:'
                    span.text_second= item.lastMessage
                .chat-menu-item__notification-wrapper
                    if item.unread_count !== 0
                        .chat-menu-item__notification.text_white= item.unread_count
