mixin chatMenuItem(item)
    a(data-path= item.path).chat-menu-item.no_decoration
        .chat-menu-item__avatar-wrapper.bg_bright
            img(src=item.img).chat-menu-item__avatar
        .chat-menu-item__message-wrapper
            .chat-menu-item__title-wrapper
                .chat-menu-item__title.text_main= item.name
                .chat-menu-item__data.text_second= item.lastMessage.time
            .chat-menu-item__content-wrapper
                .chat-menu-item__message
                    if item.lastMessage.author
                        span.text_main= 'Вы:'
                    span.text_second= item.lastMessage.message
                .chat-menu-item__notification-wrapper
                    if item.notification !== 0
                        .chat-menu-item__notification.text_white= item.notification
