extends ../template/profile/profile

include ../components/profileImg/profileImg
include ../components/acceptBtn/acceptBtn

block styles
    style
        include ../components/profileImg/profileImg.css
        include ../components/acceptBtn/acceptBtn.css

block profileBody
    +profileImg('Имя')
    .profile__info
        .profile__field
            .profile_main-text= 'Старый пароль'
            .profile_second-text= '*******'
        .profile__field
            .profile_main-text= 'Новый пароль'
            .profile_second-text= '*******'
        .profile__field
            .profile_main-text= 'Повторите новый пароль'
            .profile_second-text= '*******'
    .profile-actions
        +button('Сохранить')


block scripts
    script(type="module", src="../handlers/profileChangeInfoHandler.js")