mixin formInput(name, label, placeholder, type, errorText)
    div.form-input
        .form-input__label__wrapper
            label.form-input-label.text_second= label
        .form-input-label__input-wrapper
            input(name=name type=type placeholder=placeholder).form-input__input.text_main
        .form-input-error(name=name data-error=errorText).text_danger= ''